<html>
<head>
    <link rel = "stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <title>Reminder</title>
</head>
<body>
    <form class="container" action="{{url_for('index')}}" method="post">
        <h1>REM!NDER</h1>
        <input type="username" class="input_text" id="username" name="username" placeholder="username" required>
        <input type="password" class="input_text" id="password" name="password" placeholder="password" required>
        <div class="button_container">
            <button type="submit" class="submit_button">LOG IN</button>
        </div>
        <div class="links">
            <p>New Customer?<a href="{{url_for('SignUp')}}">Register</a></p>
        </div>
    </form>
</body>
</html>